name: Update Language Stats
on:
  schedule:
    - cron: "0 * * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Get SVGs
        run: |
          curl --fail "https://gh-stats-api.reizt.workers.dev/${{ github.actor }}?theme=light&ignore=Jupyter%20Notebook" > ./lang-ratio/langs.light.svg
          curl --fail "https://gh-stats-api.reizt.workers.dev/${{ github.actor }}?theme=dark&ignore=Jupyter%20Notebook"  > ./lang-ratio/langs.dark.svg

      - name: Commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          if git status --porcelain | grep -q . ; then
            git add langs.light.svg langs.dark.svg
            git commit -m "Update language stats"
            git push origin main
          else
            echo "No changes to commit."
          fi